/* CSS declarations go here */
body {
  background-color: #eee;
}
.card {
  padding: 10px;
  background-color: white;
  margin: 20px;
  width: 360px;
  min-height: 200px;
  float: left;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.name {
  font-size: 20px;
  color: black;
  display: block;
}

.services{
  font-size: 10px;
  color: black;
}
.site a, .phone a, .email a {
  padding: 2px;
  text-decoration: none;
}
.site {
}
.phone {
}
.mouses_count {
  height: 32px;
  width: 32px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px 2px 0;
  float: right;
  margin: -25px;
}
label {
  min-width: 100px;
  display: block;
  float: left;
}
select {
  max-width: 70px;
}
#phones #phone {
  max-width: 70px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ddd;
}
ul li span {
  display:block;
  float: left;
  width: 95%;
}
.template1 * {
  text-align: center
}
.template1 .name {
  position: relative;
  top: 0px;
  right: 0px;
}
